{% extends "base.twig" %}
{% block left %}
      <div class="well sidebar-nav">
        <ul class="nav nav-list" id="categorys">
          <li class="active">关于我</li>
        </ul>
      </div>
{% endblock %}

{% block right %}
  <div class="hero-unit">一个想得多，做的少的无证程序员!</div>
{% endblock %}