<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>Robin吴的博客</title>
<meta charset="utf-8">
<meta property="wb:webmaster" content="259c99f263caaa44" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Robin吴">
<link rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon">


<!-- Le styles -->
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
{% endblock %}
</head>
<body>
  {% block header %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a> <a class="brand" href="/">Robin吴的博客</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        {% block left %}
        {% endblock %}
      </div>
      <div class="span9" id="rightContent">
      	{% block right %}
      	{% endblock %}
      </div>
    </div>
  </div>
  {% endblock %} 
  {% block js %}
<script src="/static/js/external/jquery-2.0.3.min.js"></script>
<script src="/static/js/external/bootstrap.min.js"></script>
<script src="/static/js/external/bootstrap-paginator.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1423439076" type="text/javascript" charset="utf-8"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
  {% endblock %}
  {% block footer %}
  <footer class="footer">
    <div class="container">
      <p align="center">
        ©2013 吴佳煌 All rights reserved.<a href="http://www.miitbeian.gov.cn/" target="_blank">闽ICP备13003171号-1</a>
      </p>
    </div>
  </footer>
  {% endblock %}
  </div>
</body>
</html>